@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255; /* White */
    --background-end-rgb: 255, 255, 255; /* White */
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 255, 255, 255; /* White */
        --background-end-rgb: 255, 255, 255; /* White */
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb)); /* White background */
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
